.h1-hasher{
    color: black;
    justify-content: center;
    display: flex;
    font-size: 18px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.listBar{
   width: 60%;
   padding: 3%;
   display: grid;
   margin: 5%;
   flex-direction:column;
   align-items: center;
   border: 1px solid #29D7B9;
   font-weight: 100px;
   border-radius: 5px;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.trash{
    margin-left: 10px;
}