.h1-hasher{
    color: black;
    justify-content: center;
    display: flex;
    font-size: 18px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.listBar{
    padding: 5;
   width: 100%;
   display: grid;
   flex-direction:column;
   align-items: center;
   background-color: #29D7B9;
   box-shadow: 0 0 3px black;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
